@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,900);

body {
    font-family:  'Roboto', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
    line-height: 1.5;
    color: #354046;
    font-size: 11pt;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Remark ------------------------------------------------------------------- */

.remark-container {
    background: #eee;
}

.remark-slide-content {
    font-size: 1.4em;
}

.remark-slide-content h1 {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 .5em 0;
    color: #356aaf;
    letter-spacing: -0.02em;
}

.remark-slide-content h2 {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 .5em 0;
}

.remark-slide-content h3 {
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-number {
    font-size: 0.5em;
    bottom: 2em;
}

.remark-slide-scaler {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
}


/* Styles ------------------------------------------------------------------- */

.footnote:before {
    content: "";
    display: block;
    width: 3em;
    height: 1px;
    background: #ccc;
    margin-bottom: 0.5em;
}

a {
    color: #5b82b5;
    text-decoration: none;
    transition: color 0.15s ease;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 2px solid #5b82b5;
    outline-offset: 2px;
}

.red {
    color: #d11a01;
}

.Q, .green {
    color: #009933;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

em {
    color: #0288d1;
    font-style: normal;
}

strong {
    color: #d11a01;
    font-style: normal;
    font-weight: 300;
}

.highlight {
    background-color: #ffff00;
}

.smaller, .smaller .katex {
    font-size: 0.9em;
}

.smaller2, .smaller2 .katex {
    font-size: 1.0em;
}

.katex {
    color: #356aaf;
    font-size: 18pt;
}

.black-slide .katex, .black-slide h1 {
    color: white;
}

.black-slide a, .black-slide .footnote a {
    color: #89c2ce;
}

.remark-code, .remark-inline-code {
    font-size: 0.9em;
    background: rgba(53, 106, 175, 0.06);
    padding: 0.15em 0.4em;
    border-radius: 3px;
}

ul > li, ol > li {
    margin: 0.6em 0;
}

ul > li > ul > li {
    font-size: 0.8em;
}

table {
    border-spacing: 0;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: .8em;
    margin: auto;
    padding: 0;
}

thead {
    border: 0;
    margin: 0;
}

th {
    background: #f5f7fa;
    border: 0;
    border-bottom: 2px solid #e2e2e2;
    font-weight: bold;
    margin: 0;
    padding: 7px 0;
    text-align: center;
}

tbody {
    background: white;
    font-size: .8em;
    margin: 0;
}

tr {
    margin: 0;
    padding: 0;
}

tr:nth-child(odd) {
    background: #fafbfc;
}

td {
    margin: 0;
    padding: 5px 8px;
}

.caption {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

.circle img {
    border-radius: 50%;
}

.stretch img {
    width: 100%;
    height: auto;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

.avatars {
    position: absolute;
    right: 1em;
    top: 1em;
}

.avatars img {
    width: 2.5em;
    border-radius: 50%;
}

.footnote {
    position: absolute;
    bottom: 2em;
    font-size: 0.5em;
    opacity: 0.75;
    margin-left: -5.5em;
}

.footnote a {
    color: #0288d1;
}

.inactive {
    color: lightgray;
}

.question, .success, .alert {
    border-radius: 0 5px 5px 0;
    border: none;
    border-left: 4px solid;
    width: 95%;
    display: block;
    padding: 1em;
}

.question, .success {
    background-color: rgba(40, 167, 69, 0.08);
    border-left-color: rgb(40, 167, 69);
}

.alert {
    color: #721c24;
    background-color: rgba(220, 53, 69, 0.08);
    border-left-color: #dc3545;
}


/* Placement ---------------------------------------------------------------- */

.pull-right {
    float: right;
    margin-left: 1em;
}

.width-5 * {
    width: 5%;
}

.width-10 * {
    width: 10%;
}

.width-15 * {
    width: 15%;
}

.width-20 * {
    width: 20%;
}

.width-25 * {
    width: 25%;
}

.width-30 * {
    width: 30%;
}

.width-35 * {
    width: 35%;
}

.width-40 * {
    width: 40%;
}

.width-45 * {
    width: 45%;
}

.width-48 * {
    width: 48%;
}

.width-49 * {
    width: 49%;
}

.width-50 * {
    width: 50%;
}

.width-55 * {
    width: 55%;
}

.width-60 * {
    width: 60%;
}

.width-65 * {
    width: 65%;
}

.width-70 * {
    width: 70%;
}

.width-75 * {
    width: 75%;
}

.width-80 * {
    width: 80%;
}

.width-85 * {
    width: 85%;
}

.width-90 * {
    width: 90%;
}

.width-93 * {
    width: 93.7%;
}

.width-95 * {
    width: 95%;
}

.width-100 * {
    width: 100%;
}

.width-105 * {
    width: 105%;
}

.width-110 * {
    width: 110%;
}

.width-115 * {
    width: 115%;
}

.width-120 * {
    width: 120%;
}

.width-125 * {
    width: 125%;
}

.width-130 * {
    width: 130%;
}

.width-135 * {
    width: 135%;
}

.width-140 * {
    width: 140%;
}

.width-145 * {
    width: 145%;
}

.width-150 * {
    width: 150%;
}

.width-155 * {
    width: 155%;
}

.width-160 * {
    width: 160%;
}

.width-165 * {
    width: 165%;
}

.width-170 * {
    width: 170%;
}

.width-175 * {
    width: 175%;
}

.width-180 * {
    width: 180%;
}

.width-185 * {
    width: 185%;
}

.width-190 * {
    width: 190%;
}

.width-195 * {
    width: 195%;
}

.width-200 * {
    width: 200%;
}


/* Specials ----------------------------------------------------------------- */

.title-slide:after {
    content: '';
    background: url("../assets/logo_ulg.png") no-repeat;
    background-size: 75% 75%;
    width: 150px;
    height: 73px;
    position: absolute;
    bottom: -0.5em;
    left: 0.5em;
    display: inline-block;
}

.title-slide, .section {
    vertical-align: middle;
}

.title-slide {
    border-top: 4px solid #356aaf;
}

.end-slide {
    background-color: #356aaf;
    color: white;
    vertical-align: middle;
}

.black-slide {
    background-color: black;
    color: white;
}

.red-slide {
    background-color: red;
    color: white;
}
