@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
    font-family:  'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #354046; /*#455a64;*/
    line-height: 1.4;
    font-size: 11pt;
    word-wrap: break-word;
}


/* Remark ------------------------------------------------------------------- */

.remark-container {
    background: #ddd;
}

.remark-slide-content {
    font-size: 1.4em;

}

.remark-slide-content h1 {
    font-weight: bold;
    font-size: 2.25em;
    margin: 0 0 .5em 0;
    color: #235699;
}

.remark-slide-content h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 .5em 0;
}

.remark-slide-content h3 {
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-number {
    font-size: 0.5em;
    bottom: 2em;
}


/* Styles ------------------------------------------------------------------- */

.footnote:before {
    content: "\2015";
    display: block;
}

a {
    color: #0288d1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.red {
    color: #d11a01;
}

.Q, .green {
    color: #009933;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

em {
    color: #0288d1;
    font-style: normal;
}

strong {
    color: #d11a01;
    font-style: normal;
    font-weight: normal;
}

.highlight{ 
    background-color: #FFFF00; 
}

.smaller {
    font-size: 1.2em;
}

.smaller-x {
    font-size: 0.8em;
}

.smaller-xx {
    font-size: 0.7em;
}

.smaller-xxx {
    font-size: 0.4em;
}

.katex {
    color: #356aaf;
}

.black-slide .katex, .black-slide h1 {
    color: white;
}

.black-slide a, .black-slide .footnote a {
    color: #89c2ce;
}

.remark-code, .remark-inline-code {
    font-size: 0.9em;
}

ul > li, ol > li {
     margin: 0.6em 0;
}

ul > li > ul > li {
    font-size: 0.8em;
}

table {
    border-spacing: 0;
    border: 1px solid #e2e2e2;
    font-size: .8em;
    margin: auto;
    padding: 0;
}

thead {
    border: 0;
    margin: 0;
}

th {
    background: #e2e2e2;
    border: 0;
    font-weight: bold;
    margin: 0;
    padding: 7px 0;
    text-align: center;
}

tbody {
    background: white;
    font-size: .8em;
    margin: 0;
}

tr {
    margin: 0;
    padding: 0;
}

tr:nth-child(odd) {
    background: #fcfcfc;
}

td {
    margin: 0;
    padding: 5px 8px;
}

.caption {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

.circle img {
    border-radius: 50%;
}

.stretch img {
    width: 100%;
    height: auto;
}

.solid {
  border-style: solid;
}

.dashed {
  border-style: dashed;
}

.footnote {
  position: absolute;
  bottom: 2em;
  font-size: 0.5em;
  opacity: 0.75;
  margin-left: -5.5em;
}

.footnote a{
    color: #0288d1; /*#20707e;*/
}

.inactive {
    color: lightgray;
}

.exercise {
    background-color: rgba(40,167,69,0.25);
    border: 2px solid rgb(40,167,69);
    border-radius: 5px;
    width: 95%;
    display: block;
    padding: 1em;
}

.exercise:before {
    content: "Exercise";
    font-weight: bold;
    display: block;
}

.question, .success {
    background-color: rgba(40,167,69,0.25);
    border: 2px solid rgb(40,167,69);
    border-radius: 5px;
    width: 95%;
    display: block;
    padding: 1em;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    border-radius: 5px;
    width: 95%;
    display: block;
    padding: 1em;
}


/* Placement ---------------------------------------------------------------- */

.pull-left {
    float: left;
    margin-right: 1em;
}

.pull-right {
    float: right;
    margin-left: 1em;
}

.width-5 * {
    width: 5%;
}

.width-10 * {
    width: 10%;
}

.width-15 * {
    width: 15%;
}

.width-20 * {
    width: 20%;
}

.width-25 * {
    width: 25%;
}

.width-30 * {
    width: 30%;
}

.width-35 * {
    width: 35%;
}

.width-40 * {
    width: 40%;
}

.width-45 * {
    width: 45%;
}

.width-50 * {
    width: 50%;
}

.width-55 * {
    width: 55%;
}

.width-60 * {
    width: 60%;
}

.width-65 * {
    width: 65%;
}

.width-70 * {
    width: 70%;
}

.width-75 * {
    width: 75%;
}

.width-80 * {
    width: 80%;
}

.width-85 * {
    width: 85%;
}

.width-90 * {
    width: 90%;
}

.width-93 * {
    width: 93.7%;
}

.width-95 * {
    width: 95%;
}

.width-100 * {
    width: 100%;
}

.width-105 * {
    width: 105%;
}

.width-110 * {
    width: 110%;
}

.width-115 * {
    width: 115%;
}

.width-120 * {
    width: 120%;
}

.width-125 * {
    width: 125%;
}

.width-130 * {
    width: 130%;
}

.width-135 * {
    width: 135%;
}

.width-140 * {
    width: 140%;
}

.width-145 * {
    width: 145%;
}

.width-150 * {
    width: 150%;
}

.width-155 * {
    width: 155%;
}

.width-160 * {
    width: 160%;
}

.width-165 * {
    width: 165%;
}

.width-170 * {
    width: 170%;
}

.width-175 * {
    width: 175%;
}

.width-180 * {
    width: 180%;
}

.width-185 * {
    width: 185%;
}

.width-190 * {
    width: 190%;
}

.width-195 * {
    width: 195%;
}

.width-200 * {
    width: 200%;
}


/* Specials ----------------------------------------------------------------- */

.title-slide:after {
    content: '';
    background: url("../assets/logo_ulg.png") no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 73px;
    position: absolute;
    bottom: 2em;
    left: 3.3em;
    display: inline-block;
}

.title-slide, .section {
    vertical-align: middle;
}

.end-slide {
    background-color: #1452a3;
    color: white;
    vertical-align: middle;
}

.black-slide {
    background-color: black;
    color: white;
    border-top: solid 0px;
}

.red-slide {
    background-color: red;
    color: white;
    border-top: solid 0px;
}
