@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
    font-family:  'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #354046; /*#455a64;*/
    line-height: 1.4;
    font-size: 11pt;
    word-wrap: break-word;
}

.footnote {
  position: absolute;
  bottom: 2em;
  font-size: 0.5em;
  opacity: 0.75;
  margin-left: -5.5em;
}


.footnote a{
    color: #20707e;
}

.footnote:before {
    content: "\2015\2015\2015";
    display: block;
}

.red {
    color: #d11a01;
}

.Q {
    color: #009933;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.remark-container {
    background: #ddd;
}

.remark-slide-content {
    font-size: 1.4em;
    border-top: solid 5px #20707e;
}

.remark-slide-content h1 {
    font-weight: bold;
    font-size: 2.25em;
    margin: 0 0 .5em 0;
    color: #17525d;
}

.remark-slide-content h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 .5em 0;
}

.remark-slide-content h3 {
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-number {
    font-size: 0.5em;
    bottom: 2em;
}

.smaller-x {
    font-size: 0.75em;
}

.smaller-xx {
    font-size: 0.5em;
}

a {
    color: #0288d1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

em {
    color: #0288d1;
    font-style: normal;
}

strong {
    color: #d11a01;
    font-style: normal;
    font-weight: normal;
}

.katex {
    color: #1a7082;
}

.remark-code {
    font-size: 0.8em;
}

ul > li, ol > li {
     margin: 0.6em 0;
}

ul > li > ul > li {
    font-size: 0.8em;
}

table {
    border-spacing: 0;
    border: 1px solid #e2e2e2;
    font-size: .8em;
    margin: auto;
    padding: 0;
}

thead {
    border: 0;
    margin: 0;
}

th {
    background: #e2e2e2;
    border: 0;
    font-weight: bold;
    margin: 0;
    padding: 7px 0;
    text-align: center;
}

tbody {
    background: white;
    font-size: .8em;
    margin: 0;
}

tr {
    margin: 0;
    padding: 0;
}

tr:nth-child(odd) {
    background: #fcfcfc;
}

td {
    margin: 0;
    padding: 5px 8px;
}

.pull-left {
    float: left;
    margin-right: 1em;
}

.pull-right {
    float: right;
    margin-left: 1em;
}

.caption {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

.circle img {
    border-radius: 50%;
}

.stretch img {
    width: 100%;
    height: auto;
}

.width-10 * {
    width: 10%;
}

.width-20 * {
    width: 20%;
}

.width-25 * {
    width: 25%;
}

.width-30 * {
    width: 30%;
}

.width-40 * {
    width: 40%;
}

.width-48 * {
    width: 48%;
}

.width-50 * {
    width: 50%;
}

.width-60 * {
    width: 60%;
}

.width-70 * {
    width: 70%;
}

.width-80 * {
    width: 80%;
}

.width-90 * {
    width: 90%;
}

.width-100 * {
    width: 100%;
}


/* Title slide */

.title-slide:after {
    content: '';
    background: url("../assets/logo_ulg.png") no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 73px;
    position: absolute;
    bottom: 2em;
    left: 3.3em;
    display: inline-block;
}

.title-slide {
    vertical-align: middle;
}

.end-slide {
    background-color: #20707e;
    color: white;
    vertical-align: middle;
}

.black-slide {
    background-color: black;
    color: white;
    border-top: solid 0px;
}

.red-slide {
    background-color: red;
    color: white;
    border-top: solid 0px;
}
